.dashboardHeaderContainer {
    z-index: 1001; 
    display: flex; 
    flex-direction: column; 
    align-items: space-between;
    width: 100vw; 
    top: 0; 
    left: 0; 
    margin-top: 1rem; 
    position: absolute; 
}

.dashboardTopNavBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboardSkipToContent {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: 2rem; 
    background-color: rgba(255,255,255,0.0); 
    border: none; 
    outline: none;
    cursor: pointer; 
}

.dashboardLogo {
    width: 2.5rem; 
    margin-right: 0.5rem;
}

.dashboardHeader {
    font-size: 1.5rem;
    font-weight: 600;  
    color: white; 
    cursor: pointer; 
}

.dashboardLogo, 
.dashboardHeader, 
.dashboardHamburgerIcon {
    text-shadow: 0 0 2.5px rgba(255, 255, 255, 0.8);
}

.dashboardSkipToContent:hover {
    opacity: 0.8; 
}

.dashboardSkipToContent:hover .dashboardLogo,
.dashboardSkipToContent:hover .dashboardHeader {
    opacity: 0.5;
}

.dashboardHamburgerCircle {
    width: 2rem; 
    height: 2rem; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 1.5px solid white; 
    border-radius: 50%; 
    background-color: rgba(255,255,255,0.0);
    margin-right: 2rem; 
    padding: 0.2rem; 
    cursor: pointer; 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.dashboardHamburgerIcon {
    font-size: 1rem; 
    color: white;
}

.dashboardHamburgerCircle:hover {
    opacity: 0.5; 
}

.dashboardHeaderDivider, 
.navigationButtonDivider, 
.seperationLine {
    height: 0.05vw;  
    background-color: white; 
    opacity: 0.2; 
    border: none; 
}

.dashboardHeaderDivider {
    width: 100vw; 
    margin-top: 1.2rem; 
}

.navigationButtonDivider {
    width: 100%; 
    margin-top: 0.5rem;  
}

.dashboardHamburgerPopout {
    z-index: 1000; 
    position: absolute; 
    width: 100vw;
    height: 100vh; 
    top: 0; 
    left: 0; 
    background-color: black;
}

.dashboardHamburgerButton {
    width: 80vw; 
    margin-left: 10vw;  
    margin-top: 1rem;
    border-radius: 0.4rem; 
    outline: black;
    cursor: pointer; 
    padding: 0.8rem; 
    box-shadow: 0 0 12px #2D3436;
    font-size: 0.8rem; 
    font-weight: 500;
}

.dashboardHamburgerContent {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.navigationButtonWrapper {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
    width: 100%; 
    margin-bottom: 1rem; 
    background-color: rgba(255, 255, 255, 0);
    border: none; 
    outline: none; 
    box-shadow: none;
}

.navigationButtonWrapper:focus {
    outline: none; 
}

.navigationButtonWrapper:hover {
    background-color: black;
    opacity: 0.6; 
}

.navigationButton {
    margin-left: 1rem; 
    margin-bottom: 1rem; 
    font-size: 1rem;
    font-weight: 400; 
    color: white; 
}

.navigationButtonIcon {
    margin-right: 0.6rem; 
}

.dashboardNavigationFlex {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    width: 100%; 
}

.dashboardWrapper {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
  
.dashboardContainer {
    width: 97%; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.patientSearchWrapper {
    margin-top: 2vw; 
    width: 80%; 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    padding-bottom: 2vw; 
}

.patientSearchBar {
    width: 100%; 
    padding: 1vw;
    font-weight: 400;
    border-radius: 0.4rem; 
    font-size: 0.8rem;
    color: black; 
    font-weight: 500; 
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    background: #f5f5f8; 
    border: 2px solid grey; 
    outline: black; 
    text-indent: 0.8rem;
}

.patientSearchSuggestions {
    position: absolute; 
    list-style: none; 
    width: 100%;
    height: 60vh;
    box-sizing: border-box; 
    background-color: white; 
    border: 1px solid grey;
    border-radius: 0.5vw;
    color: black; 
    font-size: 1vw; 
    font-weight: bold; 
    padding: 0; 
    top: calc(100% - 2.5vw); 
    z-index: 1000;
}
  
.patientSearchSuggestions li {
    border-bottom: 1px solid grey; 
    color: grey; 
    padding: 1.5vw 1vw; 
    cursor: pointer; 
    width: 100%; 
    box-sizing: border-box;
}
  
.patientSearchSuggestions li:hover {
    background-color: #333; 
    color: white; 
}

.outcomesThresholdChartContainer {
    position: relative;
}

.patientInterpretationContainer, 
.trajectoryInterpretationContainer {
  display: flex;  
  align-items: center;
  justify-content: space-evenly; 
  width: 94%;
} 

.patientInterpretationContainer {
    margin-top: 1vw;
}

.timepointBarChart {
    width: 100% !important; 
}

.outcomesTrajectoryChartContainer {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    overflow: scroll;
    width: 55%; 
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.4rem; 
    height: 30vh;
    padding: 1vh 0; 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.trajectoryLineContainer {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 90%; 
    height: 90%; 
}

.trajectoryDoughnutContainer, 
.timepointBarContainer {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 95%; 
    height: 95%; 
    position: relative;
}

.trajectoryDoughnutContainer {
    width: 95%; 
    height: 95%;
}

.timepointBarContainer {
    width: 85%; 
    height: 85%; 
}

.measureFilterWrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%; 
}
  
.measureFilterIcon {
    width: 1.5rem; 
}
  
.filterByMeasurePrompt {
    font-size: 0.6rem; 
    font-weight: 400; 
    margin-left: 1vw; 
    text-shadow: 0 0 1.2px rgba(255, 255, 255, 0.8);  
}

.measureSelect {
    border-radius: 0.5vw; 
    font-size: 0.5rem; 
    padding: 0.5rem;
    background-color: rgba(255,255,255,0.0);
    border: none; 
    outline: none; 
    color: white; 
    margin-left: 0.5rem; 
    cursor: pointer; 
}
  
.measureSelect:hover {
    border: 1px solid white; 
    border-radius: 0.4rem; 
}

.selectedPatientInterpretationFlex {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;  
    align-items: center;
    font-size: 1vw; 
    font-weight: 500;
    letter-spacing: 0.05vw;
    overflow: scroll;
    width: 40%; 
    height: 30vh; 
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.4rem; 
    padding: 1vh 0; 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.averageValueBlock {
  display: block; 
  position: absolute; 
  top: 8rem; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  overflow: visible; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.averageMeasureValue {
  font-size: 1.2rem; 
  font-weight: 800;
}

.averageMeasureLabel, 
.missingItemLabel {
  text-align: center; 
  font-weight: 600; 
}

.averageMeasureLabel {
  font-size: 0.6rem; 
  text-decoration: underline;
}

.averageMeasureTitle {
    text-align: center; 
    margin-top: 0.1rem; 
    font-size: 0.5rem; 
    font-weight: 300; 
    margin-bottom: 1rem; 
}

.patientBreakdownContainer {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    text-align: center;
    overflow: hidden;
    width: 55%; 
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.4rem; 
    height: 34vh; 
    padding: 1vh 0; 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.patientBreakdownTitle {
    font-size: 0.6rem; 
    font-weight: 600; 
    text-decoration: underline; 
    margin-top: 0.8rem;
    text-shadow: 0 0 1.2px rgba(255, 255, 255, 0.8);
}

.patientBreakdownSubtitle {
    font-size: 0.6rem; 
    font-weight: 500; 
    margin-top: 0.1rem; 
    position: sticky; 
    text-shadow: 0 0 1.2px rgba(255, 255, 255, 0.8);
}
 
.timepointControlTable {
  text-align: center;  
  margin-top: 0.6rem; 
  white-space: nowrap;
  border-spacing: 0.4rem 0.4rem; 
  width: 90%; 
}

.timepointControlTable thead::after {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    top: 1.4rem;
    width: 100%;
    border-bottom: 1px solid grey; 
    z-index: 1; 
}

.timepointControlTable {
  color: whitesmoke; 
  position: sticky;
  top: 0;
  font-weight: bold;
}

.managerControlHeaders {
  color: whitesmoke; 
  position: sticky;
  top: 0;
  bottom: 10; 
  font-weight: bold;
  font-size: 0.5rem; 
}

.managerControlContent {
  color: white;
  white-space: nowrap;
  font-size: 0.5rem;
  overflow: scroll; 
}

.managerControlContent select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.0);
  color: grey;
  overflow: scroll; 
}
 
.selectedPatientCompletionFlex, 
.organizationCompletionFlex {
    display: flex; 
    flex-direction: column; 
    justify-content: center;  
    align-items: center;
    text-align: center;
    font-size: 0.7rem; 
    font-weight: 500;
    letter-spacing: 0.05vw;
    overflow: visible;
    position: relative;
    width: 40%; 
    height: 34vh; 
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.4rem; 
    padding: 1vh 0; 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.averageGaugeChart {
    width: 90% !important;
    height: 90% !important;
}

.missingItemsBlock {
    display: block; 
    position: absolute; 
    top: 45%; ; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    overflow: visible; 
}

.missingItemValue {
  font-size: 2rem; 
  font-weight: 800;
}

.missingItemLabel {
    text-align: center; 
    font-weight: 600; 
    font-size: 0.5rem;
}

.reportGenerationWrapper {
    width: 88%; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    margin-top: 1rem; 
    bottom: 0; 
    position: sticky; 
}

.generateReportButton {
    color: white;
    cursor: pointer;  
    margin-bottom: 1rem; 
    text-shadow: 0 0 1.2px rgba(255, 255, 255, 0.8);
}

.generateReportIcon {
    width: 0.8rem; 
    height: 0.8rem; 
    margin-right: 0.5rem; 
    cursor: pointer;
}

.generateReportText {
    font-size: 0.6rem; 
    font-weight: 500; 
    cursor: pointer;
}

.genereateReportButton:hover .generateReportText {
    opacity: 0.6; 
}





