.loginHeaderContainer {
    z-index: 1001; 
    display: flex; 
    flex-direction: column; 
    align-items: space-between;
    width: 100vw; 
    top: 0; 
    left: 0; 
    margin-top: 1rem; 
    position: absolute; 
}

.loginTopNavBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginSkipToContent {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: 2rem; 
    background-color: rgba(255,255,255,0.0); 
    border: none; 
    outline: none;
    cursor: pointer; 
}

.loginLogo {
    width: 2.5rem; 
    margin-right: 0.5rem;
}

.loginHeader {
    font-size: 1.5rem;
    font-weight: 600;  
    color: white; 
    cursor: pointer; 
}

.loginLogo, 
.loginHeader, 
.loginHamburgerIcon, 
.loginTitle, 
.loginInput, 
.loginInputPassword {
    text-shadow: 0 0 2.5px rgba(255, 255, 255, 0.8);
}

.loginSkipToContent:hover {
    opacity: 0.8; 
}

.loginSkipToContent:hover .loginLogo,
.loginSkipToContent:hover .loginHeader {
    opacity: 0.5;
}

.loginHamburgerCircle {
    width: 2rem; 
    height: 2rem; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 1.5px solid white; 
    border-radius: 50%; 
    background-color: rgba(255,255,255,0.0);
    margin-right: 2rem; 
    padding: 0.2rem; 
    cursor: pointer; 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.loginHamburgerIcon {
    font-size: 1rem; 
    color: white;
}

.loginHamburgerCircle:hover {
    opacity: 0.5; 
}

.loginHeaderDivider {
    width: 100vw;
    height: 0.05vw;  
    background-color: white; 
    opacity: 0.2; 
    border: none; 
    margin-top: 1.2rem; 
}

.loginBlock {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.loginTitle {
    font-size: 2rem;
    font-weight: 600;  
    color: white;
    margin-bottom: 3rem; 
}

.loginInputWrapper {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-top: 1rem; 
    width: 22rem;
    position: relative;
}

.loginInput,  
.loginInputButton, 
.loginInputPassword {
    width: 100%; 
    padding: 0.8rem 0; 
    border-radius: 0.4rem; 
}

.loginInput, 
.loginInputPassword,
.loginInputText {
    font-size: 1rem; 
}

.loginInput, 
.loginInputPassword { 
    color: black; 
    font-weight: 500; 
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}

.loginInputText {
    font-weight: 600; 
    color: white; 
    cursor: pointer; 
}

.loginInput, 
.loginInputPassword {
    background: #f5f5f8; 
    border: 2px solid grey; 
    outline: black; 
    text-indent: 0.8rem;
}

.loginInput:hover, 
.loginInputPassword:hover {
    opacity: 0.8;
}

.envelopeIcon {
    width: 2rem; 
    color: white;
}

.loginInputButton {
    display: flex; 
    align-items: center;
    justify-content: center; 
    border: 2px solid #2D3436; 
    outline: black;
    cursor: pointer;  
    margin-top: 0.8rem; 
}

.loginInputButton:hover .envelopeIcon,
.loginInputButton:hover .loginInputText, 
.loginInputButton:hover {
    opacity: 0.7;
}

.loginSupplementalButton {
    margin-top: 4rem; 
    background-color: rgba(255,255,255,0.0); 
    border: none; 
    outline: none; 
    color: white; 
    font-size: 0.8rem; 
    opacity: 0.7;
}

.loginSupplementalButton:focus {
    outline: none; 
}

.loginSupplementalButton:hover {
    opacity: 0.4; 
    text-decoration: underline; 
}

.passwordToggleIcon {
    position: absolute;
    right: 1rem; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
    color: black; 
}

.loginHamburgerPopout {
    z-index: 1000; 
    position: absolute; 
    width: 100vw;
    height: 100vh; 
    top: 0; 
    left: 0; 
    background-color: black;
}

.loginHamburgerButton {
    width: 80vw; 
    margin-left: 10vw;  
    margin-top: 1rem;
    border-radius: 0.4rem; 
    outline: black;
    cursor: pointer; 
    padding: 0.8rem; 
    box-shadow: 0 0 12px #2D3436;
    font-size: 0.8rem; 
    font-weight: 500;
}

.loginError {
    font-size: 0.8rem; 
    font-weight: 400; 
    text-align: center; 
    color: #E54B4B;
    margin-top: 0.5rem;  
}