.profileHeaderContainer {
    z-index: 1001; 
    display: flex; 
    flex-direction: column; 
    align-items: space-between;
    width: 100vw; 
    top: 0; 
    left: 0; 
    margin-top: 1rem; 
    position: absolute; 
}

.profileTopNavBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileInfoWrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.teamButtonPrompt {
    color: white; 
    font-size: 1vw; 
    font-weight: regular; 
    cursor: pointer; 
    text-decoration: underline; 
    background-color: rgba(255,255,255,0.0);
    border: none; 
    outline: none; 
}

.teamButtonPrompt:hover {
    color: #8884d8;
}

.userImage {
    width: 6rem; 
    height: 6rem;
    border: 2px solid grey;
    border-radius: 10%;
    box-shadow: 0 0 5px grey;
    margin-left: 1rem; 
}

.patientInfoBlock {
    display: flex;
    flex-direction: column; 
    justify-content: left; 
    align-items: center;
    margin-left: 1rem; 
}

.profileName, 
.profileEmail,
.profilePhoneNumber {
    display: block;
    white-space: nowrap;
    justify-content: left;
}

.profileName {
    font-size: 1.8rem; 
    font-weight: 800;
    color: white; 
}

.profileEmail, 
.profilePhoneNumber {
    font-size: 0.8rem; 
    font-weight: 400; 
    padding: 0.1rem; 
    color: white; 
    opacity: 0.8
}

.profileHamburgerCircle {
    width: 2rem; 
    height: 2rem; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 1.5px solid white; 
    border-radius: 50%; 
    background-color: rgba(255,255,255,0.0);
    margin-right: 2rem; 
    padding: 0.2rem; 
    cursor: pointer; 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.profileHamburgerIcon {
    font-size: 1rem; 
    color: white;
}

.profileHamburgerCircle:hover {
    opacity: 0.5; 
}

.profileHeaderDivider {
    width: 100vw;
    height: 0.05vw;  
    background-color: white; 
    opacity: 0.2; 
    border: none; 
    margin-top: 1.2rem; 
}

.profileHamburgerContent {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.navigationButtonWrapper {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
    width: 100%; 
    margin-bottom: 1rem; 
    background-color: rgba(255, 255, 255, 0);
    border: none; 
    outline: none; 
    box-shadow: none;
}

.navigationButtonWrapper:focus {
    outline: none; 
}

.navigationButtonWrapper:hover {
    background-color: black;
    opacity: 0.6; 
}

.navigationButton {
    margin-left: 1rem; 
    margin-bottom: 1rem; 
    font-size: 1rem;
    font-weight: 400; 
    color: white; 
}

.navigationButtonIcon {
    margin-right: 0.6rem; 
}

.userControlBlock {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100vw; 
}

.userControlFlex {
    width: 98%; 
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
}

.userEditBlock, 
.userEditInfoBlock {
    width: 45%; 
    padding: 1vh 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
}

.userEditInfoBlock {
    margin-right: 5%; 
    border: 1px solid #2D3436; 
    border-radius: 0.4rem;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
    padding: 0.5rem; 
}

.userNameInputFlex {
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    width: 100%; 
    margin-top: 0.5rem; 
}

.userInputBlock {
    width: 40%;
    position: relative;
    padding: 0.8rem; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userInput {
    width: 90%; 
    background-color: rgba(255, 255, 255, 0); 
    border: none; 
    outline: none; 
    border-bottom: 0.2px solid rgba(255, 255, 255, 0.2);
    cursor: pointer; 
    color: white; 
    font-size: 0.7rem; 
    font-weight: 400; 
    text-align: center; 
    padding: 0.2rem
}

.userInput:hover {
    opacity: 0.6; 
}

.editButton {
    position: absolute; 
    border: none; 
    outline: none; 
    color: grey; 
    bottom: 8%; 
    right: 2%; 
    background-color: rgba(255,255,255,0.0);
}

.editButton:hover {
    opacity: 0.6; 
}

.editButton:focus {
    outline: none; 
    border: none; 
}

.editButtonIcon {
    width: 0.7rem; 
    height: 0.7rem; 
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
}

.userInputHeader {
    font-size: 0.7rem; 
    font-weight: 600;
    text-align: center; 
    opacity: 0.8; 
    color: grey;
    width: 100%;
    margin-bottom: 0.5rem; 
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
}


.userPictureUpload {
    padding: 0.5rem; 
}

.userPictureUpload  {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 90%; 
    overflow: hidden;
    background: rgba(255,255,255,0.0);
    border: 1px solid #2D3436; 
    border-radius: 0.4rem;
    color: grey; 
    font-size: 0.65rem;
    font-weight: regular;  
    cursor: pointer; 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.userPictureUpload input {
    display: none; 
}

.userPictureUpload:focus {
    outline: none; 
}

.userPictureUpload:hover .userImageText, 
.userPictureUpload:hover .userPicture, 
.userPictureUpload:hover {
    opacity: 0.6; 
}

.personalSignInBarChartWrapper {
    width: 30rem; 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.loginChartTitle {
    font-size: 0.7rem; 
    font-weight: 600; 
    color: white; 
}

.loginChartSubtitle {
    font-size: 0.6rem; 
    font-weight: 500; 
    color: white; 
    opacity: 0.6; 
    text-decoration: underline;
    margin-bottom: 1rem; 
}

.personalSigninBarChart {
}


