.profileHeaderContainer {
    z-index: 1001; 
    display: flex; 
    flex-direction: column; 
    align-items: space-between;
    width: 100vw; 
    top: 0; 
    left: 0; 
    margin-top: 1rem; 
    position: absolute; 
}

.profileTopNavBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileInfoWrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.teamButtonPrompt {
    color: white; 
    font-size: 1vw; 
    font-weight: regular; 
    cursor: pointer; 
    text-decoration: underline; 
    background-color: rgba(255,255,255,0.0);
    border: none; 
    outline: none; 
}

.teamButtonPrompt:hover {
    color: #8884d8;
}

.userImage {
    width: 6rem; 
    height: 6rem;
    border: 2px solid grey;
    border-radius: 10%;
    box-shadow: 0 0 5px grey;
    margin-left: 1rem; 
}

.patientInfoBlock {
    display: flex;
    flex-direction: column; 
    justify-content: left; 
    align-items: center;
    margin-left: 1rem; 
}

.profileName, 
.profileEmail,
.profilePhoneNumber {
    display: block;
    white-space: nowrap;
    justify-content: left;
}

.profileName {
    font-size: 1.8rem; 
    font-weight: 800;
    color: white; 
}

.profileEmail, 
.profilePhoneNumber {
    font-size: 0.8rem; 
    font-weight: 400; 
    padding: 0.1rem; 
    color: white; 
    opacity: 0.8
}

.profileHamburgerCircle {
    width: 2rem; 
    height: 2rem; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 1.5px solid white; 
    border-radius: 50%; 
    background-color: rgba(255,255,255,0.0);
    margin-right: 2rem; 
    padding: 0.2rem; 
    cursor: pointer; 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.profileHamburgerIcon {
    font-size: 1rem; 
    color: white;
}

.profileHamburgerCircle:hover {
    opacity: 0.5; 
}

.profileHeaderDivider {
    width: 100vw;
    height: 0.05vw;  
    background-color: white; 
    opacity: 0.2; 
    border: none; 
    margin-top: 1.2rem; 
}

.profileHamburgerContent {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.navigationButtonWrapper {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
    width: 100%; 
    margin-bottom: 1rem; 
    background-color: rgba(255, 255, 255, 0);
    border: none; 
    outline: none; 
    box-shadow: none;
}

.navigationButtonWrapper:focus {
    outline: none; 
}

.navigationButtonWrapper:hover {
    background-color: black;
    opacity: 0.6; 
}

.navigationButton {
    margin-left: 1rem; 
    margin-bottom: 1rem; 
    font-size: 1rem;
    font-weight: 400; 
    color: white; 
}

.navigationButtonIcon {
    margin-right: 0.6rem; 
}

.userControlBlock {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
    width: 100vw; 
    background-color: #002;
}

.userControlFlex {
    width: 98%; 
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
}

.userEditInfoBlock {
    width: 50%; 
    padding: 1vh 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
    height: 32vh; 
    border: 1px solid #2D3436; 
    border-radius: 0.4rem;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
    padding: 0.5rem
}

.userNameInputFlex {
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    width: 100%; 
    margin-top: 0.5rem; 
}

.userInputBlock {
    width: 40%;
    position: relative;
    padding: 0.8rem; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userInput {
    width: 90%; 
    background-color: rgba(255, 255, 255, 0); 
    border: none; 
    outline: none; 
    border-bottom: 0.2px solid rgba(255, 255, 255, 0.4);
    cursor: pointer; 
    color: white; 
    font-size: 0.7rem; 
    font-weight: 400; 
    text-align: center; 
    padding: 0.2rem
}

.userInput:hover {
    opacity: 0.6; 
}

.editButton {
    position: absolute; 
    border: none; 
    outline: none; 
    color: grey; 
    bottom: 20%; 
    right: 5%; 
    background-color: #002;
    padding: 0.2rem; 
    width: auto; 
    height: auto; 
}

.editButton:hover {
    opacity: 0.6; 
}

.editButton:focus {
    outline: none; 
    border: none; 
}

.editButtonIcon {
    width: 0.7rem; 
    height: 0.7rem; 
    color: white; 
    opacity: 0.8; 
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
}

.userInputHeader {
    font-size: 0.7rem; 
    font-weight: 600;
    text-align: center; 
    opacity: 0.8; 
    color: white;
    width: 100%;
    margin-bottom: 0.5rem; 
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.8);
}

.userPictureUpload {
    padding: 0.5rem; 
}

.userPictureUpload  {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 90%; 
    overflow: hidden;
    background: rgba(255,255,255,0.0);
    border: 1px solid #2D3436; 
    border-radius: 0.4rem;
    color: white; 
    font-size: 0.65rem;
    font-weight: regular;  
    cursor: pointer; 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.userPictureUpload input {
    display: none; 
}

.userPictureUpload:focus {
    outline: none; 
}

.userPictureUpload:hover .userImageText, 
.userPictureUpload:hover .userPicture, 
.userPictureUpload:hover {
    opacity: 0.6; 
}

.personalSignInBarChartWrapper {
    width: 30rem; 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.loginChartTitle {
    font-size: 0.7rem; 
    font-weight: 600; 
    color: white; 
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.loginChartSubtitle {
    font-size: 0.6rem; 
    font-weight: 500; 
    color: white; 
    opacity: 0.6; 
    text-decoration: underline;
    margin-bottom: 1rem; 
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.organizationInformationBlock, 
.siginLogTableContainer {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    width: 25%; 
    overflow: scroll;
    border: 1px solid #2D3436; 
    border-radius: 0.4rem;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
    padding: 0.5rem; 
    height: 32vh; 
    padding: 0.5rem 0; 
}


.profileOrganizationName {
    font-size: 1.5vw; 
    font-weight: 600; 
    color: white; 
    opacity: 0.8; 
    margin-top: 1rem;
    white-space: nowrap;  
}

.profileOrganizationID {
    font-size: 0.8vw; 
    font-weight: 500; 
    color: white; 
    opacity: 0.6; 
    margin-bottom: 1rem; 
    white-space: nowrap; 
}

.profileOrganizationCountLabel {
    font-size: 0.8vw; 
    font-weight: 500; 
    text-decoration: underline; 
    color: white; 
    opacity: 0.8; 
    margin-top: 0.2rem;
    white-space: nowrap; 
}

.profileOrganizationCount {
    font-size: 1.2vw; 
    font-weight: 600; 
    color: white; 
    opacity: 0.6; 
    white-space: nowrap; 
}
  
.scrollableTableWrapperSignins, 
.scrollableTableWrapperAdmin {
    overflow: auto;
    height: 100%; 
}

.scrollableTableWrapperAdmin {
    margin-top: 1rem; 
}

.signinLogTable {
    border-spacing: 0.5rem;
    text-align: center; 
    white-space: nowrap; 
    overflow: scroll; 
    margin-top: 0.4rem; 
}

.signinLogHeaders {
    color: white;
    opacity: 0.8; 
    position: sticky;
    top: 0;
    background-color: #002; 
    font-size: 1.5vw;
} 

.signinLogContent {
    color: white;
    opacity: 0.8; 
    white-space: nowrap;
}

.signinLogContent {
  font-size: 0.8vw; 
}

.userEditBlock {
    width:40%; 
    margin-left: 5%; 
    overflow: scroll; 
}

.userControlTableContainer {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    width: 50%; 
    overflow: scroll;
    border: 1px solid #2D3436; 
    border-radius: 0.4rem;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
    padding: 0.5rem; 
    height: 44vh; 
    padding: 0.5rem 0; 
    margin-bottom: 2rem; 
    position: relative; 
}

.deleteButtonContainer {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%; 
    top: 0;
}
  
.deleteButton, 
.saveChangesButton {
    background-color: rgba(255,255,255,0.2); 
    border: none;
    outline: none; 
    cursor: pointer; 
    padding: 0.4rem 0.8rem; 
    margin-right: 1.5vw; 
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    color: rgba(255,255,255,0.8); 
}

.deleteButton {
    font-size: 1.2vw; 
}

.saveChangesButton {
    font-size: 0.8vw; 
}

.deleteButton:hover, 
.saveChangesButton:hover {
    outline: none; 
    opacity: 0.6; 
}

.deleteButton:focus, 
.saveChangesButton:focus {
    outline: none; 
}
  
.deleteButtonIcon {
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center; 
    position: sticky;
    width: 0.6rem; 
    background-color: rgba(255, 255, 255, 0.0); 
    outline: none; 
    border: none;
    cursor: pointer; 
}

.userControlTable {
    border-spacing: 1vw;
    text-align: center; 
    margin-top: 1rem; 
    width: 100%; 
    white-space: nowrap; 
    overflow: scroll;
}
  
.userControlTable thead {
    position: relative; 
}
  
.userControlTable thead::after {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 0.5px solid grey; 
    z-index: 1; 
}
  

.userControlHeaders {
  color: grey; 
  position: sticky;
  top: 0;
} 

.userControlHeaders {
  margin-top: 8vw;
  font-weight: bold;
}

.userControlHeaders {
  font-size: 1vw; 
}

.userControlContent {
  color: grey;
  white-space: nowrap;
}

.userControlContent {
  font-size: 0.8vw;
}

.userControlCheckbox {
    width: 1.5vw; 
    height: 1.5vw;
    cursor: pointer; 
    accent-color: #8884d8;
  }

  .selectAdmin {
    font-size: 0.8vw;
    cursor: pointer; 
  }
  
  
  .selectAdmin:hover {
    background-color: #8884d8;
    color: white; 
  }
