.resetHeaderContainer {
    z-index: 1001; 
    display: flex; 
    flex-direction: column; 
    align-items: space-between;
    width: 100vw; 
    top: 0; 
    left: 0; 
    margin-top: 1rem; 
    position: absolute; 
}

.resetTopNavBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resetBackButton {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: 2rem; 
    background-color: rgba(255,255,255,0.0); 
    border: none; 
    outline: none;
    cursor: pointer; 
}

.resetBackArrowIcon {
    height: 0.8rem;  
    color: white; 
    margin-right: 0.4rem;
    margin-top: 0.1rem; 
}

.resetHeader {
    font-size: 0.8rem; 
    font-weight: 600; 
    color: white; 
    cursor: pointer; 
}

.resetHeader {
    text-shadow: 0 0 2.5px rgba(255, 255, 255, 0.8); 
}

.resetBackButton:hover .resetHeader, 
.resetBackButton:hover .resetBackArrowIcon {
    opacity: 0.5; 
}

.resetHeaderDivider {
    width: 100vw;
    height: 0.05vw;  
    background-color: white; 
    opacity: 0.2; 
    border: none; 
    margin-top: 1.2rem; 
}

.resetBlock {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: 26rem; 
}


.resetInput {
    width: 100%; 
    padding: 0.8rem 0; 
    font-weight: 400; 
    background: #f5f5f8; 
    border: 2px solid grey; 
    outline: black; 
    text-indent: 0.8rem;
    border-radius: 0.4rem; 
    font-size: 1rem; 
    font-weight: 500; box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    color: black; 
}

.resetContinueButton {
    width: 100%; 
    padding: 0.8rem 0; 
    font-size: 1rem;
    font-weight: 600; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    background-color: #2D3436;
    border: 2px solid #2D3436; 
    outline: black;
    cursor: pointer;  
    margin-top: 0.8rem; 
    color: white; 
}

.resetNextArrowIcon {
    margin-top: 0.2rem; 
    margin-left: 0.5rem; 
}

.resetPersonIcon {
    margin-right: 0.5rem;
}

.resetContinueButton:hover .resetNextArrowIcon,
.resetContinueButton:hover .resetPersonIcon,
.resetContinueButton:hover {
    opacity: 0.7;
}

.passwordInput {
    color: black;
}